:root{
  --farge1:darkblue;
  --farge2:rgb(54, 115, 188);
  --farge3:rgba(0, 102, 255, 0.689);
  --farge4:rgba(21, 0, 255, 0.758);
  --color1:white;
  --color2:white;
  --color3:black;
  --color4:rgba(0, 0, 0, 0.65);
  --background1:linear-gradient(0deg, rgba(211,157,39,1) 0%, rgba(253,187,45,1) 100%);
  --background2:linear-gradient(0deg, rgba(39,77,211,1) 0%, rgba(45,133,253,1) 100%);

}

body{
  box-sizing: border-box;
}

header{
  width: 100vw;
  background-image: url("../public/startside.jpg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  user-select: none;
}

select{
  width: fit-content;
}
header h1{

  mix-blend-mode: difference ; /* differance exclusion */
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  color:white;
  font-size: max(3rem, 5vw);
  text-align: center;
}
footer{
  position: fixed;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

h4{
  border-bottom: thin solid black;
}

button:hover{
  cursor: pointer;
}
button:disabled{
  background-color: grey;
  cursor:not-allowed;
}
button:active{
  background: var(--background2);
  color:var(--color2);
}

.navBar, .overskrift, .frisor, .kategorier, .klokkeslettene{
  user-select: none;
}
.kontaktsiden{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.litentekst{
  font-size: small;
}

.navBar a:active, .overskrift:active, .frisor:active, .tjeneste:active {
  background-color: rgba(0, 0, 0, 0.25);
}

form{
  display: flex;
  gap:1rem;
  flex-direction: column;
}

input, button{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
}
.timebestilling{
  display:grid;
  gap:1rem;
  grid-template-columns: 2fr 1fr;
}
  
.timebestilling * {
  margin:0.15rem;
}
  
  .navBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    font-size: large;
    justify-items: center;
    animation: animer-inn 0.3s;
  }

  
  
  .navBar a {
    text-align: start;
    margin: 0.1rem;
    padding: 2rem;
    text-align: start;
    cursor: pointer;
    text-decoration: none;
    color: var(--farge4);
    width: 20rem;
    border-left: thin solid rgba(0, 0, 0, 0.45);
    border-bottom: thin solid rgba(0, 0, 0, 0.05);
    clip-path: polygon(100% 0, 100% 59%, 0 100%, 0 100%, 0 5%);
    background-color: white;
    font-size: larger;
    transition: all 0.5s;
  }

  .navBar a:hover{
    
    border-bottom: thin solid rgba(0, 0, 0, 0.45);
    clip-path: polygon(100% 0, 100% 59%, 92% 100%, 0 100%, 0 5%);
  }
  .navBar a p{
    font-weight: lighter;
    text-align: start;
    color:black;
    margin:0;
    font-size: large;
  }
  
  .navBar a:active{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
  
  
  .hjem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kategorier .kategori{
    cursor: pointer;
    padding:0.5rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    margin: 0 !important;
  }
  
  .kategorier{
    display: flex;
    flex-direction: column;
    width:95%;
  }
  
  .tjeneste{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: max-content;
    background-color: white;
    cursor: pointer;
    border:thin solid black;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .tjeneste input{
    height: 3rem;
  }

  
  .klokkeslettene{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
  }
.klokkeslett{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .klokkeslettene *:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .klokkeslettene *{
    cursor: pointer;
    border-radius: 1rem;
    padding:2rem;
    color:black;
    transition: 0.5s ease;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .frisorene{
    display: flex;
    gap:0.2rem;
    flex-wrap: wrap;
  }
  
  .frisorene .frisor{
    padding: 1rem;
    cursor: pointer;
    border: thin solid black;
    border-radius: 0.4rem;
  }

  input, label{
    padding:0.8rem;
  }

  .reservasjon{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .login{
    display: flex;
    flex-wrap:wrap;
  }
  .overskrift{
    display: flex;
    border:thin solid black;
    border-radius: 0px 0px 1rem 0px;
    cursor: pointer;
    padding: 0.2rem;
    align-items: center;
    width: 95%;
    z-index: 2;
  }
  .overskrift p{
    display: flex;
    border-radius: 50%;
    height:2rem;
    aspect-ratio: 1/1;
    border:1px solid black;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
  }

  @keyframes animer-inn{
    from{
      opacity: 0.5;
      transform: translateY(-10px);
    } 
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .animer-inn{
    background-color: transparent;
    /*animation: 0.5s animer-inn;*/
    z-index: 1;
  }


  .infoboks{
    display: grid;
    border:thin solid black;
    grid-template-rows: 1fr 1fr;
    max-height: 80vh;
    box-sizing: border-box;
  }
  .infoboks p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: thin solid black;
    
  }
  .infoboks p p{
    display: flex;
    flex-wrap: wrap;
  }

  .burger{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:4rem;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
  .burger div{
    background-color: black;
    width:80%;
    height:0.2rem;
  }
  .vakter_panel{
    display: grid;
    gap:0.3rem;
    grid-template-columns: 1fr 2fr;
  }
  .velgFrisorVakter{
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  .velgFrisorVakter div{
    padding:2rem;
    cursor: pointer;
    margin: 0.3rem;
  }
  .velgFrisorVakter div:hover, .velgFrisorVakter div:active{
    box-shadow: 1px 1px 1px black;
  }
  .fortsett{
    width: 20vw;
    padding: 0.5rem;
    font-size: x-large;
    cursor: pointer;
    background-color: var(--farge2);
    color:var(--color2);
    border: thin solid rgba(31, 62, 0, 0.5);
    letter-spacing: 0.25rem;
  }

  .eventWrapper{
    align-items: center;
    justify-content: center !important;
    border: thin solid rgba(0, 0, 0, 0.75) !important;
    color:white !important;
  }
  .rbc-timeslot-group{
    border-bottom: 1px solid black !important;
  }
  .rbc-day-slot .rbc-time-slot{
    border-collapse: collapse;
    border-top:1px solid black !important;
  }
  .rbc-event-label {
    display: none !important;
  }
  .loginForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .loginForm label{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sosialemedier{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .sosialemedier *{
    margin: 0.3rem;
  }

  .rbc-agenda-time-cell{
    display: none !important;
  }
  .vaktpanel{
    padding: 0.2rem;
  }

  
  .adminpanel{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
  }
  .adminpanel *{
    color:black;
  }

  .redigeringsBoks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .redigeringsElement{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  .passordBoks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .passordBoks label{
    display: flex;
    flex-direction: row;
  }
  .passordBoks label div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .passordBoks input[type=checkbox]{
    height:2rem;
  }
  .passordBoks input[type=password], .passordBoks input[type=text]{
    width:10rem;
  }
  .adminMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0.3rem;
  }

  .navBarBestillTime{
    position: fixed;
    top: 0.3rem;
    right: 0.3rem;
    background: url("../public/startside.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    color:var(--color1);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    outline:groove 0.2rem ;
    
  }
  .navBarBestillTime div{
    padding: 1rem;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    font-size: fit-content;
  }
  .varsling{
    z-index: 2000;
    position: fixed;
    top: 5%;
    left:40%;
    transition: 0.2s ease;
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
    padding:2rem;
    font-size: xx-large;
    
    padding: 1rem;
    background: var(--background1);
    color: var(--color1);
  }
  
  .fokus{
    position: fixed;
    top: 5%;
    left:5%;
    padding: 1rem;
    width:80vw;
    height:80vh;
    background-color: white;
    border: thin solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  .fokus button, .fokus input{
    width: fit-content;
  }
  .fokus .lukk{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    cursor: pointer;
    height:3rem;
    border:none !important;
  }

  .fokus .lukk:active{
    background-color: white !important;
  }
  .frisorbilde{
    object-fit: contain;
    aspect-ratio: 1/1;
    border-radius:50%;
  }
  
  
  .startside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: stretch;
    padding: 1rem;
  }
  

  .startside h2{
    text-align: center;
  }
  /*******************************************************************************************************************/

@media (width <= 900px){
  
  body *{
    padding:1px;
  }
  .fortsett{
    position: fixed;
    bottom: 0;
    left:0;
    width:100vw;
    
    margin:0 !important;
    padding:2.5rem;
  }
  
  .startside{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .startside h2{
    writing-mode: vertical-lr;
    text-align: left;
    color:rgba(0, 0, 0, 0.5);
    font-weight: 100;
    border-bottom:thin solid rgba(0, 0, 0, 0.5);
  }
  .hjemsideSeksjon{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;

    
  }
  
  .adminMain{
    display: flex;
    flex-direction: column;
  }
  .passordBoks label{
    display: flex;
    flex-direction: column;
  }
  .navBar{
    display: flex;
    flex-direction: column;
  }
  body{
    font-size: medium;
  }
  .timebestilling{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
.timebestilling .container{
  width: 95%;
}
.infoboks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}
  
  h1{
    font-size: large;
  }
  
  .hjem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .klokkeslettene{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    
  }
  .frisorene{
    display: grid;
    gap:0.1rem;
    grid-template-columns: 1fr 1fr;
  }
  
  .frisor{
    padding: 1rem;
    cursor: pointer;
    border: thin solid black;
    border-radius: 0.4rem;
  }
}

