@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gloock&family=Sorts+Mill+Goudy&display=swap');
:root{
  --farge1:darkblue;
  --farge2:rgb(54, 115, 188);
  --farge3:rgba(21, 255, 0, 0.689);
  --farge4:rgba(0, 18, 184, 0.758);
  --farge5:rgba(211,157,39,1);
  --farge6:rgba(253,187,45,1);
  --farge7:rgba(85, 85, 85, 0.51);
  --color1:white;
  --color2:white;
  --color3:black;
  --color4:rgba(0, 0, 0, 0.65);
  --background1:linear-gradient(0deg, var(--farge5) 0%, var(--farge6) 100%);
  --background2:linear-gradient(0deg, rgb(33, 70, 115) 0%, rgb(54, 115, 188) 100%);
  --background3:linear-gradient(0deg, rgb(54, 115, 188) 0%, rgb(0, 14, 33) 100%);
  --background4:linear-gradient(0deg, rgba(211,157,39,1) 0%, var(--color3) 100%);
  --background5:linear-gradient(0deg, rgba(85, 85, 85, 0.51) 0%, rgba(0, 0, 0, 0.65) 100%);
  --font1:'Courier Prime', monospace;
  --font2:'Gloock', serif;
  --font3:'Sorts Mill Goudy', serif;
  --font4:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: white;
}
html{
  background: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.startContainer{
  padding-bottom:300px;
}

.laster{
  border:4px solid var(--color3);
  border-radius:50%;
  border-top:4px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  height:50px;
  width:50px;
  z-index: 1000;
}

.laster{
  -webkit-transition-property: -webkit-transform;
  transition-duration: 1.2s;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}



header{
  width:100%;
  width: -webkit-fill-available;
  background-image: url("../public/startside.jpg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  padding: 1rem;
  
  height:80vh;
}

footer a {
  text-decoration: underline;
}
select{
  width: fit-content;
}
header .bedriftNavnHeader{
  font-family: var(--font4);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  color:white;
  font-size: max(2rem, 4vw);
  margin-left: 0.8rem;
  margin-right: 1rem;
  text-align: center;
}

textarea{
  width: 18rem;
  height: 5rem;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  padding:0.5rem;
  background: var(--background1);
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  width: -webkit-fill-available;
  font-family: var(--font4);
  position: absolute;
  bottom: 0;
  text-shadow: 0px 0px 4px black;
  box-shadow: 0px 6px 10px inset rgba(0, 0, 0, 0.55);
}
footer *{
  margin:0.5rem;
}
.kontaktsiden a {
  text-decoration: underline;
}

.omOss a{
  text-decoration: underline;
}

a{
  font-weight: 400;
  text-shadow: none !important;
  text-decoration: none;
}

h4{
  border-bottom: thin solid black;
}

button:hover{
  cursor: pointer;
}
button:disabled{
  background-color: grey !important;
  cursor:not-allowed;
}

.navBar, .overskrift, .frisor, .kategorier, .klokkeslettene{
  user-select: none;
}
.kontaktsiden{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  width:-webkit-fill-available;
  font-family: var(--font1);
  background: rgba(255, 255, 255, 0.6);
  padding: 0.6rem;
  padding-bottom: 2rem;
  margin:2rem;
  margin-top: 8rem;

}
.kontaktbakgrunn{
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../public/kontaktOss.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom:300px;
}
.kontaktsiden h3{
  font-size: 2rem;
  font-family: var(--font2);
  margin:1rem;
}
.litentekst{
  font-size: small;
}
.tjenestene{
  transition: 0.5s ease all;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tjenestene *{
  margin: 0.5rem;
}
.bestilleTimeplz{
  color:var(--color1);
  font-size: x-large;
  font-family: var(--font3);
  text-shadow: 0px 0px 3px black;
  margin: 0;
}
.rotert{
  transform: rotate(-90deg);
}

form{
  display: flex;
  gap:1rem;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

input, button, select, option{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0.8rem;
  padding:0.4rem;
  font-size: large;
}
.timebestilling{
  display:grid;
  gap:1rem;
  grid-template-columns: 2fr 1fr;
  margin-top: 8rem;
  background: url("../public/bakgrunnsgifh.gif");
  background-repeat: no-repeat;
  position: relative;
}
.timebestilling * {
  margin:0.15rem;
}
.timebestilling a{
  text-decoration: underline;
}
.omOss{
  max-width: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  
  background: url("../public/omOss.jpg");
  width: inherit;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  padding-bottom:300px;
}
.omOssChild{
   background: rgba(255, 255, 255, 0.6);
  padding: 0.6rem;
  padding-bottom: 2rem;
  font-size: larger;
  margin: 2rem;
  margin-top: 8rem;
}
.omOssChild h1{
  font-size: 2rem;
  font-family: var(--font2);
  text-align: center;
}
.omOssChild div{
  font-family: var(--font1);
}


.navHeader{
  
  top:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1rem;
  position: absolute;
  z-index: 5;
  width: 50vw;
  align-items: baseline;
}
  
  .navBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    font-size: large;
    justify-items: center;
    animation: animer-inn 0.3s;
    margin-top: 6rem;
  }

  
  
  .navBar a {
    text-align: start;
    padding: 2rem;
    text-align: start;
    cursor: pointer;
    text-decoration: none;
    width: 20rem;
    border-left: thin solid rgba(0, 0, 0, 0.45);
    border-bottom: thin solid rgba(0, 0, 0, 0.05);
    clip-path: polygon(100% 0, 100% 59%, 0 100%, 0 100%, 0 5%);
    background-color: white;
    font-size: larger;
    transition: all 0.5s;
  }

  .navBar a:hover{
    
    border-bottom: thin solid rgba(0, 0, 0, 0.45);
    clip-path: polygon(100% 0, 100% 59%, 92% 100%, 0 100%, 0 5%);
  }
  .navBar a p{
    font-weight: lighter;
    text-align: start;
    color:black;
    margin:0;
    font-size: large;
  }
  
  
  
  .hjem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kategorier .kategori{
    cursor: pointer;
    padding:0.5rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    margin: 0 !important;
  }
  
  .kategorier{
    display: flex;
    flex-direction: column;
    width:95%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  .tjeneste{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: max-content;
    background-color: white;
    cursor: pointer;
    border:thin solid black;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .tjeneste input{
    height: 3rem;
  }

  .velgDatoBoks{
    backdrop-filter: blur(5px);
  }
  .k{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .klokkeslettene{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
  }
.klokkeslett{
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid black;
}

  .klokkeslettene *:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .klokkeslettene *{
    cursor: pointer;
    border-radius: 1rem;
    color:black;
    
    padding:0.7rem;
    transition: 0.5s ease;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .frisorene{
    display: flex;
    gap:0.2rem;
    flex-wrap: wrap;
    font-weight: 100;
  }
  
  .frisorene .frisor{
    padding: 1rem;
    cursor: pointer;
    border: thin solid black;
    border-radius: 0.4rem;
    color:var(--color3);
    font-size: x-large;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .valgtFrisorTekst{
    transition: 0.1s ease;
    font-size: x-large;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
     background: rgba(255, 255, 255, 0.75);
    
  }
  .vv{
    opacity: 0.2;
  }
  .ss{
    opacity: 1;
  }
  input, label{
    padding:0.4rem;
  }

  .reservasjon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:1.5rem;
    margin-top: 6rem;
  }

  .login{
    display: flex;
    flex-wrap:wrap;
    
  }
  .overskrift{
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: thin solid black;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.4rem;
    align-items: center;
    width: 95%;
    z-index: 2;
    color: var(--color1);
  }
  .overskrift p{
    display: flex;
    border-radius: 50%;
    height:2rem;
    aspect-ratio: 1/1;
    border-top:1px solid var(--color1);
    border-right:1px solid var(--color1);
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
  }

  @keyframes animer-inn{
    from{
      opacity: 0.5;
      transform: translateY(-10px);
    } 
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .animer-inn{
    background-color: transparent;
    /*animation: 0.5s animer-inn;*/
    z-index: 1;
  }


  .infoboks{
    display: grid;
    border:thin solid black;
    grid-template-rows: 1fr 1fr;
    max-height: 80vh;
    box-sizing: border-box;
  }
  .infoboks p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: thin solid black;
    
  }
  .infoboks p p{
    display: flex;
    flex-wrap: wrap;
  }

  .burger{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:4rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin: 0 !important;
  }
  .burger div{
    background: var(--background4);
    width:80%;
    height:0.2rem;
  }
  .vakter_panel{
    display: grid;
    gap:0.3rem;
    grid-template-columns: 1fr 2fr;
  }
  .velgFrisorVakter{
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  .velgFrisorVakter div{
    padding:2rem;
    cursor: pointer;
    margin: 0.3rem;
  }
  .velgFrisorVakter div:hover{
    box-shadow: 1px 1px 1px black;
  }
  .fortsett{
    font-size: x-large;
    letter-spacing: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
  }
  .fortsett .fortsettKnapp{
    cursor: pointer;
    padding: 1rem;
    background-color: var(--farge2);
    color:var(--color2);
  }
  .fortsett .fortsettKnapp:disabled{
    background-color: rgba(0, 0, 0, 0.25);
    color:var(--color1);
    cursor:not-allowed;
  }

  .eventWrapper{
    align-items: center;
    justify-content: center !important;
    border: thin solid rgba(0, 0, 0, 0.75) !important;
    color:white !important;
  }
  .rbc-timeslot-group{
    border-bottom: 1px solid black !important;
  }
  .rbc-day-slot .rbc-time-slot{
    border-collapse: collapse;
    border-top:1px solid black !important;
  }
  .rbc-event-label {
    display: none !important;
  }
  .loginForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    margin-top: 6rem;
  }
  .loginForm label{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sosialemedier{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .sosialemedier *{
    margin: 0.3rem;
  }

  .rbc-agenda-time-cell{
    display: none !important;
  }
  .vaktpanel{
    padding: 0.2rem;
  }

  
  .adminpanel{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
  }

  .redigerKnapp{
    background:url("../public/rediger.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
  }
  .redigeringsBoks{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .container{
    display: flex;
    flex-direction: column;
    padding-bottom: 12rem;
  }
  .redigeringsElement{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .passordBoks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .passordBoks label{
    display: flex;
    flex-direction: row;
  }
  .passordBoks label div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .passordBoks input[type=checkbox]{
    height:2rem;
  }
  .passordBoks input[type=password], .passordBoks input[type=text]{
    width:10rem;
  }
  .adminMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0.3rem;
  }

  .navBarBestillTime{
    font-family: var(--font1);
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    z-index: 3;
    
    font-size: 1.5rem;
    font-weight: 200;
    border:solid thin black;
    
  }
  .viEr{
    font-family: var(--font4);
    font-weight: bold;
    font-size: max(1.5rem, 3.5vw);
    margin-left: 0.4rem;
    margin-right: 0.2rem;
    background: linear-gradient(var(--color3), var(--farge5));
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  }
  .infoFrisorKnapp{
    background:url("../public/infoHjem.png");
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    cursor:pointer;
    border: none;
  }
  .navBarBestillTime div{
    padding: 0.9rem;
    display: flex;
    width: 100%;
    height: inherit;
    background: var(--background5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    border: thin solid black;
    justify-content: center;
  }

  .tekstkomponent{
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .tekstkomponent img{
    width: 2rem;
  }
  .varsel{
    transition: 0.2s ease;
  }
  .skjul{
    
    z-index: 3;
    position: fixed;
    top: -5%;
    left:40%;
    
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
    padding:2rem;
    font-size: xx-large;
    
    padding: 1rem;
    background: var(--background1);
    color: var(--color1);
    transform: translateY(-170%);
    opacity:1;
  }
  .SMSside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }
  .SMSkonfigBoks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    align-items: center;
  }
  .statusMelding{
    padding: 0.3rem;
  }
  .bilder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }
  .bilder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .varsling{
    z-index: 7;
    position: fixed;
    top: 5%;
    left:40%;
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
    padding:2rem;
    font-size: xx-large;
    
    padding: 1rem;
    background: var(--background1);
    color: var(--color1);
  }

  /*må alltid være height og ikke min-height*/
  .fokus{
    position: fixed;
    top: 5%;
    left:5%;
    padding: 1rem;
    width:80vw;
    height:80vh;
    background-color: white;
    border: thin solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: 6;
  }
  .detaljerFrisor{
    font-size: larger;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    padding-top: 4rem;
  }

  .fokus button, .fokus input{
    width: fit-content;
  }
  .fokus .lukk{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    padding: 1rem;
    cursor: pointer;
    border:none !important;
    background:url("../public/avbryt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/1;
  }

  .ikonKnapper{
    height: 1rem;
    cursor: pointer;
  }
  
  .frisorbilde{
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius:50%;
    border: 2px solid var(--color3);
  }
  
  
  .startside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: stretch;
    padding: 1rem;
  }
  

  .startside h2{
    text-align: center;
  }
  .frisorOversikt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: stretch;
    padding: 1rem;
  }
  
.adminKnapper{
  display: flex;
  flex-direction: row;
  
}
.adresseLink{
  width:100%;
  aspect-ratio: 1/1;
  background:url('../public/adresse.png');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}
.adresseLink .adresseBlur{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width:100%;
  height:100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color:white;
  text-shadow: 0px 0px 5px black;
  transition: 0.3s ease all;
}
.adresseLink .adresseBlur:hover{
  cursor: pointer;
  color:var(--farge3);
}
.adresseLink .adresseBlur div{
  
  color:white;
  text-decoration: underline;
}

  /*******************************************************************************************************************/

@media (width <= 900px){
  
  
header * {
  margin:0;
}
.adminKnapper{
  display: flex;
  flex-direction: column;
}

.adminKnapper button{
  padding:1rem;
  border-radius: none !important;
}
  .frisorOversikt{
    display: flex;
    flex-direction: column;
  }
  .fokus .lukk{
    height:1.5rem;
  }
  .rbc-toolbar{
    flex-direction: column !important;
  }
  .ikonKnapper{
    height:1.4rem;
  }
  .fortsett{
    position: fixed;
    bottom: 0;
    left:0;
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0 !important;
    z-index: 3;
  }
  .fortsett *{
    width: 100%;
  }
  
  .startside{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .startside h2{
    writing-mode: vertical-lr;
    text-align: left;
    color:rgba(0, 0, 0, 0.75);
    font-weight: 200;
    border-bottom:thin solid rgba(0, 0, 0, 0.5);
  }
  .hjemsideSeksjon{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    box-sizing: border-box;
    
  }
  .behandlingerHjemsiden{
    width: inherit;
    max-width: 100vw;
    box-sizing: border-box;
  }
  .behandlingerHjemsiden div{
    width: inherit;
    max-width: 100vw;
  }
  
  .adminMain{
    display: flex;
    flex-direction: column;
  }
  .passordBoks label{
    display: flex;
    flex-direction: column;
  }
  .navBar{
    display: flex;
    flex-direction: column;
  }
  body{
    font-size: medium;
  }
  .timebestilling{
    display:flex;
    align-items: center;
    
    
  }
  
.timebestilling .container{
  width: 95%;
}
.infoboks{
  display: flex;
  justify-content: center;
  height: max-content;
  flex-direction: column;
}
  
  h1{
    font-size: large;
  }
  
  .hjem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .klokkeslettene{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    
  }
  .frisorene{
    display: grid;
    gap:0.1rem;
    grid-template-columns: 1fr 1fr;
  }
  
  .frisor{
    padding: 1rem;
    cursor: pointer;
    border: thin solid black;
    border-radius: 0.4rem;
  }
}

